In [1]:
import os

os.environ["HADOOP_USER_NAME"] = "hdfs"
os.environ["PYTHON_VERSION"] = "3.5.2"

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession \
    .builder \
    .appName("File lines count") \
    .config("spark.driver.cores", "1") \
    .config("spark.driver.memory", "1g") \
    .config("spark.executor.heartbeatInterval", "90s") \
    .config("spark.network.timeout", "240s") \
    .config("spark.blacklist.enabled", "false") \
    .config("spark.python.worker.reuse", "true") \
    \
    .enableHiveSupport() \
    .config("hive.metastore.uris", "thrift://nn1:9083") \
    .getOrCreate()

In [4]:
df = spark.read.csv("hdfs:///user/nicolas.chmiel/onboarding_pyspark", sep=";")

In [5]:
df.createOrReplaceTempView("data")

In [11]:
df2 = spark.sql("SELECT * FROM data WHERE _c0='201106'")

In [13]:
df2.write.saveAsTable("default.my_table")

In [14]:
spark.stop()